{% extends 'base.html' %}
{% load static %}

{% block header %}
			<div class="banner banner-inner banner-inner-sm tc-light">
				<div class="gshape-wrapper">
					<div class="gshape gshape-md gshape-md-alt r55 t10"></div>
					<div class="gshape gshape-md-s2 r30 t45"></div>
				</div>
				<div class="banner-block">
					<div class="container">
						<div class="row align-items-center gutter-vr-50px">
							<div class="col-md-6 order-md-last">
								<div class="image-block-s2 image-block-wd round-full">
									<img src="{% static 'images/service-a.jpg' %}" class="round-full" alt="">
									<div class="gshape gshape-xl gshape-block"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="banner-content text-center text-md-left pdl-0 mgl-0">
									<h1 class="banner-inner-title-s2">We Specialize in <br> Creative solutions</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="nk-ovm mask-a"></div>
			</div>
			<!-- .banner -->
{% endblock %}
	<!-- end header -->
{% block body %}
	<!-- feature -->
	<div class="section tc-light pdy-0">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-7 col-md-8">
					<div class="section-head section-head-s4 section-md text-center">
						<h2 class="title-regular">We help brands and companies stand out in the digital age</h2>
					</div>
				</div>
			</div>
			<div class="row justify-content-between gutter-vr-30px">
				<div class="col-sm-6 col-md-3 col-6 col-full">
					<div class="feature feature-alt text-center pd-0">
						<div class="feature-icon">
							<em class="icon icon-lg ti-brush-alt"></em>
						</div>
						<div class="feature-content">
							<h3 class="title-sm">Branding Identity</h3>
						</div>
					</div>
				</div><!-- .col -->
				<div class="col-sm-6 col-md-3 col-6 col-full">
					<div class="feature feature-alt text-center pd-0">
						<div class="feature-icon">
							<em class="icon icon-lg ti-layout"></em>
						</div>
						<div class="feature-content">
							<h3 class="title-sm">Web Design &amp; Dev</h3>
						</div>
					</div>
				</div><!-- .col -->
				<div class="col-sm-6 col-md-3 col-6 col-full">
					<div class="feature feature-alt text-center pd-0">
						<div class="feature-icon">
							<em class="icon icon-lg ti-palette"></em>
						</div>
						<div class="feature-content">
							<h3 class="title-sm">Motion Graphics</h3>
						</div>
					</div>
				</div><!-- .col -->
				<div class="col-sm-6 col-md-3 col-6 col-full">
					<div class="feature feature-alt text-center pd-0">
						<div class="feature-icon">
							<em class="icon icon-lg ti-shopping-cart"></em>
						</div>
						<div class="feature-content">
							<h3 class="title-sm">Ecommece</h3>
						</div>
					</div>
				</div><!-- .col -->
			</div>
		</div>
	</div>
	<!-- .feature -->

	<!-- process -->
	<div class="section section-x tc-bunker">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="section-head section-head-s4 section-md">
						<h5 class="heading-xs no-line tc-primary">Clients</h5>
						<h2 class="fz-1">We know the best results come from bold ideas. We enjoy what we do and we want you to too.</h2>
					</div>
				</div><!-- .col -->
			</div><!-- .row -->
			<div class="row justify-content-center gutter-vr-30px">
				<div class="col-lg-4 text-center">
					<div class="feature feature-alt shadow-alt bg-ocean-light">
						<div class="feature-icon-box">
							<div class="feature-icon feature-icon-s3 bg-ocean-dark">
								<em class="icon ti-clipboard"></em>
							</div>
							<div class="feature-heading feature-heading-s2">
								<h3>Concept</h3>
							</div>
						</div>
						<div class="feature-content-s2">
							<p>We listen, research, ideate, marinate, present, and  Duis aute irure dolor in reprehenderit in voluptate.</p>
						</div>
					</div>
				</div><!-- .col -->
				<div class="col-lg-4 text-center">
					<div class="feature feature-alt shadow-alt bg-ocean-light">
						<div class="feature-icon-box">
							<div class="feature-icon feature-icon-s3 bg-ocean-dark">
								<em class="icon ti-layers"></em>
							</div>
							<div class="feature-heading feature-heading-s2">
								<h3>Production</h3>
							</div>
						</div>
						<div class="feature-content-s2">
							<p>The best crews with the most up-to-date gear and technologies capture your story. Duis aute irure dolor.</p>
						</div>
					</div>
				</div><!-- .col -->
				<div class="col-lg-4 text-center">
					<div class="feature feature-alt shadow-alt bg-ocean-light">
						<div class="feature-icon-box">
							<div class="feature-icon feature-icon-s3 bg-ocean-dark">
								<em class="icon ti-layout"></em>
							</div>
							<div class="feature-heading feature-heading-s2">
								<h3>Post Production</h3>
							</div>
						</div>
						<div class="feature-content-s2">
							<p>Producers, editors, designers, and animators, shape and sculpt your video ‘til it’s ready for prime time.</p>
						</div>
					</div>
				</div><!-- .col -->
			</div><!-- .row-->
		</div>
	</div>
	<!-- .process -->

	<!-- partner -->
	<div class="section section-x tc-light">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 col-lg-5 text-center">
					<div class="section-head section-head-s4 section-md">
						<h5 class="heading-xs no-line tc-primary">Clients</h5>
						<h2 class="fz-1">Our friends who love to work with us</h2>
					</div>
				</div>
			</div>
			<div class="row justify-content-center gutter-vr-30px">
				<div class="col-sm-3 col-4">
					<div class="logo-item">
						<img src="{% static 'images/client-a-light.png' %}" alt="">
					</div>
				</div><!-- .col -->
				<div class="col-sm-3 col-4">
					<div class="logo-item">
						<img src="{% static 'images/client-b-light.png' %}" alt="">
					</div>
				</div><!-- .col -->
				<div class="col-sm-3 col-4">
					<div class="logo-item">
						<img src="{% static 'images/client-c-light.png' %}" alt="">
					</div>
				</div><!-- .col -->
				<div class="col-sm-3 col-4">
					<div class="logo-item">
						<img src="{% static 'images/client-d-light.png' %}" alt="">
					</div>
				</div><!-- .col -->
				<div class="col-sm-3 col-4">
					<div class="logo-item">
						<img src="{% static 'images/client-e-light.png' %}" alt="">
					</div>
				</div><!-- .col -->
				<div class="col-sm-3 col-4">
					<div class="logo-item">
						<img src="{% static 'images/client-a-light.png' %}" alt="">
					</div>
				</div><!-- .col -->
			</div><!-- .row -->
		</div><!-- .container -->
	</div>
	<!-- .partner -->
{% endblock %}
