{% extends 'base.html' %}
{% load static %}
			<!-- banner -->
{% block header %}
			<div class="banner banner-inner banner-inner-sm tc-light">
				<div class="gshape-wrapper">
					<div class="gshape gshape-md gshape-md-alt r55 t10"></div>
					<div class="gshape gshape-md-s2 l5 t35"></div>
				</div>
				<div class="banner-block">
					<div class="container">
						<div class="row align-items-center gutter-vr-50px">
							<div class="col-md-6 order-md-last">
								<div class="image-block-s2 image-block-wd round-full">
									<img src="{% static 'images/team-block-a.jpg' %}" class="round-full" alt="">
									<div class="gshape gshape-xl gshape-block"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="banner-content text-center text-md-left pdl-0 mgl-0">
									<h1 class="banner-inner-title-s2">It’s all about your brand’s vision</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="nk-ovm mask-a"></div>
			</div>
			<!-- .banner -->
{% endblock %}

{% block body %}
	<!-- team -->
	<div class="section section-x team tc-bunker pt-0">
		<div class="container">
			<div class="row justify-content-center justify-content-sm-start gutter-vr-60px">
				<div class="col-md-3 col-sm-6">
					<div class="team-single text-center">
						<div class="team-image">
							<img src="{% static 'images/team-t.jpg' %}" alt="">
						</div>
						<div class="team-content">
							<h5 class="team-name">Andrew rover</h5>
							<p>CEO, Genox</p>
						</div>
					</div>
				</div><!-- .col -->
				<div class="col-md-3 col-sm-6">
					<div class="team-single text-center">
						<div class="team-image">
							<img src="{% static 'images/team-u.jpg' %}" alt="">
						</div>
						<div class="team-content">
							<h5 class="team-name">Marina Bedi</h5>
							<p>Developer, Genox</p>
						</div>
					</div>
				</div><!-- .col -->
				<div class="col-md-3 col-sm-6">
					<div class="team-single text-center">
						<div class="team-image">
							<img src="{% static 'images/team-v.jpg' %}" alt="">
						</div>
						<div class="team-content">
							<h5 class="team-name">Ajax Holder</h5>
							<p>Head of Research</p>
						</div>
					</div>
				</div><!-- .col -->
				<div class="col-md-3 col-sm-6">
					<div class="team-single text-center">
						<div class="team-image">
							<img src="{% static 'images/team-w.jpg' %}" alt="">
						</div>
						<div class="team-content">
							<h5 class="team-name">Maria Fedora</h5>
							<p>Market, Analayser</p>
						</div>
					</div>
				</div><!-- .col -->
				<div class="col-md-3 col-sm-6">
					<div class="team-single text-center">
						<div class="team-image">
							<img src="{% static 'images/team-x.jpg' %}" alt="">
						</div>
						<div class="team-content">
							<h5 class="team-name">Helex Marphie</h5>
							<p>Developer, Genox</p>
						</div>
					</div>
				</div><!-- .col -->
				<div class="col-md-3 col-sm-6">
					<div class="team-single text-center">
						<div class="team-image">
							<img src="{% static 'images/team-y.jpg' %}" alt="">
						</div>
						<div class="team-content">
							<h5 class="team-name">Alen Shuvro</h5>
							<p>Developer, Genox</p>
						</div>
					</div>
				</div><!-- .col -->
				<div class="col-md-3 col-sm-6">
					<div class="team-single text-center">
						<div class="team-image">
							<img src="{% static 'images/team-z.jpg' %}" alt="">
						</div>
						<div class="team-content">
							<h5 class="team-name">Mark Helen</h5>
							<p>Head of Research</p>
						</div>
					</div>
				</div><!-- .col -->
				<div class="col-md-3 col-sm-6">
					<div class="team-single text-center">
						<div class="team-image">
							<img src="{% static 'images/team-za.jpg' %}" alt="">
						</div>
						<div class="team-content">
							<h5 class="team-name">Noora Sara</h5>
							<p>Market, Analayser</p>
						</div>
					</div>
				</div><!-- .col -->
			</div><!-- .row -->
		</div><!-- .container -->
	</div>
	<!-- .team -->

{% endblock %}