{% extends 'base.html' %}
{% load static %}

{% block header %}
			<div class="banner banner-inner banner-inner-sm tc-light">
				<div class="gshape-wrapper">
					<div class="gshape gshape-md gshape-md-alt r55 t10"></div>
					<div class="gshape gshape-md-s2 t35 l5"></div>
				</div>
				<div class="banner-block">
					<div class="container">
						<div class="row align-items-center gutter-vr-50px">
							<div class="col-md-6 order-md-last">
								<div class="image-block-s2 image-block-wd round-full">
									<img src="{% static 'images/contact-block-a.jpg' %}" class="round-full" alt="">
									<div class="gshape gshape-xl gshape-block"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="banner-content text-center text-md-left pdl-0 mgl-0">
									<h1 class="banner-inner-title-s2">We're available for new work.</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="nk-ovm mask-a"></div>
			</div>
			<!-- .banner -->
{% endblock %}

{% block body %}

	<!-- section/blog -->
	<div class="section blog section-x tc-bunker pt-0">
		<div class="container">
			<div class="row gutter-vr-30px">
				<div class="col-md-8">
					<div class="post post-full post-full-s2">
						<div class="post-thumb">
							<a href="helena-news-details.html">
								<img src="{% static 'images/post-thumb-md-a-filter.jpg' %}" alt="">
							</a>
						</div>
						<div class="post-entry d-sm-flex d-block align-items-start">
							<div class="post-date">
								<p>Mar <strong>19</strong></p>
							</div>
							<div class="post-content">
								<div class="post-author d-flex align-items-center">
									<div class="author-thumb">
										<img src="{% static 'images/author-image-a-filter.jpg' %}" alt="">
									</div>
									<div class="author-name">
										<p>Mark Anthony</p>
									</div>
								</div>
								<h3><a href="helena-news-details.html">One of the Best UX Agencies in the World</a></h3>
								<div class="content">
									<p>The Demodern team is responsible for the diverse solutions of the individual applications, the overall staging and conception of the 'Discovery Dock. exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
								</div>
								<div class="post-tag d-flex">
									<ul class="post-cat">
										<li><a href="#"><em class="icon ti-bookmark"></em> <span>Design , UI / UX</span></a></li>
									</ul>
									<ul class="post-cat">
										<li><a href="#"><em class="icon ti-comment"></em> <span>2 Comments</span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div><!-- .post -->
					<div class="post post-full post-full-s2">
						<div class="post-thumb">
							<a href="helena-news-details.html">
								<img src="{% static 'images/post-thumb-md-b-filter.jpg' %}" alt="">
							</a>
						</div>
						<div class="post-entry d-sm-flex d-block align-items-start">
							<div class="post-date">
								<p>Mar <strong>15</strong></p>
							</div>
							<div class="post-content">
								<div class="post-author d-flex align-items-center">
									<div class="author-thumb">
										<img src="{% static 'images/author-image-b-filter.jpg' %}" alt="">
									</div>
									<div class="author-name">
										<p>Maria Helen</p>
									</div>
								</div>
								<h3><a href="helena-news-details.html">In spring DuMont opens a mixed reality experience for the Port of Hamburg</a></h3>
								<div class="content">
									<p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure</p>
								</div>
								<div class="post-tag d-flex">
									<ul class="post-cat">
										<li><a href="#"><em class="icon ti-bookmark"></em><span> Software , Boosting </span> </a></li>
									</ul>
									<ul class="post-cat">
										<li><a href="#"><em class="icon ti-comment"></em> <span>12 Comments</span> </a></li>
									</ul>
								</div>
							</div>
						</div>
					</div><!-- .post -->
					<div class="post post-full post-full-s2">
						<div class="post-thumb">
							<a href="helena-news-details.html">
								<img src="{% static 'images/post-thumb-md-c-filter.jpg' %}" alt="">
							</a>
						</div>
						<div class="post-entry d-sm-flex d-block align-items-start">
							<div class="post-date">
								<p>Mar <strong>11</strong></p>
							</div>
							<div class="post-content">
								<div class="post-author d-flex align-items-center">
									<div class="author-thumb">
										<img src="{% static 'images/author-image-d-filter.jpg' %}" alt="">
									</div>
									<div class="author-name">
										<p>Mark Anthony   </p>
									</div>
								</div>
								<h3><a href="helena-news-details.html">Los Angeles: DMDRN on retail tour.</a></h3>
								<div class="content">
									<p>To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences</p>
								</div>
								<div class="post-tag d-flex">
									<ul class="post-cat">
										<li><a href="#"><em class="icon ti-bookmark"></em> <span>Design , UI / UX</span>  </a></li>
									</ul>
									<ul class="post-cat">
										<li><a href="#"><em class="icon ti-comment"></em> <span>12 Comments</span> </a></li>
									</ul>
								</div>
							</div>
						</div>
					</div><!-- .post -->
				</div><!-- .col -->
				<div class="col-md-8 order-md-last">
					<div class="button-area pagination-area">
						<ul class="pagination pagination-s2 text-center text-md-right">
							<li class="active"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
						</ul>
					</div>
				</div><!-- .col -->
				<div class="col-md-4 pl-lg-4">
					<div class="sidebar">
						<div class="wgs wgs-sidebar wgs-search">
							<div class="wgs-content">
								<div class="form-group">
									<input type="text" class="form-input form-input-fill bg-ocean-light"  placeholder="Search...">
									<button class="search-btn"><i class="ti ti-search" aria-hidden="true"></i></button>
								</div>
							</div>
						</div><!-- .wgs -->
						<div class="wgs wgs-sidebar bg-ocean-light wgs-recents wgs-recents-s2">
							<h3 class="wgs-heading">Recent News</h3>
							<div class="wgs-content">
								<ul class="post-recent">
									<li>
										<h5><a href="dallas-dark-news-details.html">Bringing Great Design Ideas To Completion </a></h5>
										<p class="post-tag">DECEMBER 12, 2018</p>
									</li>
									<li>
										<h5><a href="dallas-dark-news-details.html">Highlights z UX Cambridge 2018 </a></h5>
										<p class="post-tag">DECEMBER 10, 2018</p>
									</li>
									<li>
										<h5><a href="dallas-dark-news-details.html">Ladies, Wine & Design Hamburg #10: "New Tech"</a></h5>
										<p class="post-tag">DECEMBER 12, 2018</p>
									</li>
								</ul>
							</div>
						</div><!-- .wgs -->
						<div class="wgs wgs-sidebar bg-ocean-light wgs-category">
							<h3 class="wgs-heading">Categories</h3>
							<div class="wgs-content">
								<ul class="wgs-menu">
									<li><a href="#">Business  <span>(10)</span></a></li>
									<li><a href="#">Technology  <span>(01)</span></a></li>
									<li><a href="#">Development  <span>(17)</span></a></li>
									<li><a href="#">Marketing   <span>(40)</span></a></li>
								</ul>
							</div>
						</div><!-- .wgs -->
						<div class="wgs wgs-sidebar bg-ocean-light wgs-archive">
							<h3 class="wgs-heading">Archives</h3>
							<div class="wgs-content">
								<ul class="wgs-menu">
									<li><a href="#">December 2017 <span>(10)</span></a></li>
									<li><a href="#">November 2017 <span>(01)</span></a></li>
									<li><a href="#">Octobor 2017 <span>(17)</span></a></li>
									<li><a href="#">September <span>(05)</span></a></li>
									<li><a href="#">August <span>(40)</span></a></li>
								</ul>
							</div>
						</div><!-- .wgs -->
						<div class="wgs wgs-sidebar bg-ocean-light wgs-tags">
							<h3 class="wgs-heading">Tags</h3>
							<div class="wgs-content">
								<ul class="tag-list tag-list-s2">
									<li><a href="">Design</a></li>
									<li><a href="">Art</a></li>
									<li><a href="">Technology</a></li>
									<li><a href="">Event</a></li>
									<li><a href="">Business</a></li>
									<li><a href="">Creative</a></li>
								</ul>
							</div>
						</div><!-- .wgs -->
					</div><!-- .sidebar -->
				</div><!-- .col -->
			</div><!-- .row -->
		</div><!-- .container -->
	</div>
	<!-- end section/blog -->

{% endblock %}