{% extends 'base.html' %}
{% load static %}

<!-- banner -->
{% block header %}
<div class="banner banner-inner banner-inner-sm tc-light">
				<div class="gshape-wrapper">
					<div class="gshape gshape-md gshape-md-alt r55 t10"></div>
					<div class="gshape gshape-md-s2 l5 t40"></div>
				</div>
				<div class="banner-block">
					<div class="container">
						<div class="row align-items-center gutter-vr-50px">
							<div class="col-md-6 order-md-last">
								<div class="image-block-s2 image-block-wd round-full">
									<img src="{% static 'images/work-block-a.jpg' %}" class="round-full" alt="">
									<div class="gshape gshape-xl gshape-block"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="banner-content text-center text-md-left pdl-0 mgl-0">
									<h1 class="banner-inner-title-s2">Over the past 11 years we have</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="nk-ovm mask-a"></div>
			</div>
			<!-- .banner -->
{% endblock %}
<!-- .banner -->

{% block body %}
	<!-- project -->
	<div class="section section-x section-project tc-light pt-0" id="portfolio">
		<div class="nk-block nk-block-project">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 text-center text-sm-left">
						<div class="section-head section-md section-head-s4">
							<h5 class="heading-xs tc-primary">Fetured Work</h5>
							<h2>Some highlights of work we've done for forward thinking clients.</h2>
						</div>
					</div><!-- .col -->
				</div><!-- .row -->
				<div class="row">
					<div class="col">
						<!-- filter menu-->
						<ul class="project-filter project-filter-s3 pdt-0 text-center text-sm-left">
							<li class="active" data-filter="all">All</li>
							<li data-filter="1">UI/UX</li>
							<li data-filter="2">Branding</li>
							<li data-filter="3">Development</li>
							<li data-filter="4">Photography</li>
						</ul>
						<!-- .filter menu-->
					</div>
				</div><!-- .row -->
				<div class="project-wrapper project-wrapper-s2">
					<div class="project gutter-50px gutter-vr-50px" id="project1" data-layout="sameWidth">
						<div class="col-sm-6 col-lg-4 filtr-item" data-category="1">
							<a href="helena-work-single.html">
								<div class="project-item">
									<div class="project-image">
										<img src="{% static 'images/project-md-c.jpg' %}" alt="">
									</div>
									<div class="project-over project-over-s2">
										<div class="project-content">
											<h4>Web Development</h4>
											<p>Development</p>
										</div>	
									</div>
								</div>
							</a>
						</div><!-- .grid -->
						<div class="col-sm-6 col-lg-4 filtr-item" data-category="1,2">
							<a href="helena-work-single.html">
								<div class="project-item">
									<div class="project-image">
										<img src="{% static 'images/project-md-d.jpg' %}" alt="">
									</div>
									<div class="project-over project-over-s2">
										<div class="project-content">
											<h4>Landing Page </h4>
											<p>UI/UX Design</p>
										</div>
									</div>
								</div>
							</a>
						</div><!-- .grid -->
						<div class="col-sm-6 col-lg-4 filtr-item" data-category="3,4">
							<a href="helena-work-single.html">
								<div class="project-item">
									<div class="project-image">
										<img src="{% static 'images/project-md-e.jpg' %}" alt="">
									</div>
									<div class="project-over project-over-s2">
										<div class="project-content">
											<h4>Web Design</h4>
											<p>UI/UX Design</p>
										</div>
									</div>
								</div>
							</a>
						</div><!-- .grid -->
						<div class="col-sm-6 col-lg-4 filtr-item" data-category="1,2,3">
							<a href="helena-work-single.html">
								<div class="project-item">
									<div class="project-image">
										<img src="{% static 'images/project-md-f.jpg' %}" alt="">
									</div>
									<div class="project-over project-over-s2">
										<div class="project-content">
											<h4>Landing Page </h4>
											<p>UI/UX Design</p>
										</div>
									</div>
								</div>
							</a>
						</div><!-- .grid -->
						<div class="col-sm-6 col-lg-4 filtr-item" data-category="2">
							<a href="helena-work-single.html">
								<div class="project-item">
									<div class="project-image">
										<img src="{% static 'images/project-md-g.jpg' %}" alt="">
									</div>
									<div class="project-over project-over-s2">
										<div class="project-content">
											<h4>Landing Page </h4>
											<p>UI/UX Design</p>
										</div>
									</div>
								</div>
							</a>
						</div><!-- .grid -->
						<div class="col-sm-6 col-lg-4 filtr-item" data-category="3,4">
							<a href="helena-work-single.html">
								<div class="project-item">
									<div class="project-image">
										<img src="{% static 'images/project-md-h.jpg' %}" alt="">
									</div>
									<div class="project-over project-over-s2">
										<div class="project-content">
											<h4>Web Design</h4>
											<p>Frontend</p>
										</div>
									</div>
								</div>
							</a>
						</div><!-- .grid -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- .project -->

{% endblock %}