{% extends 'base.html' %}
{% load static %}

{% block header %}
			<div class="banner banner-inner banner-inner-sm tc-light">
				<div class="gshape-wrapper">
					<div class="gshape gshape-md gshape-md-alt r55 t10"></div>
					<div class="gshape gshape-md-s2 t35 l5"></div>
				</div>
				<div class="banner-block">
					<div class="container">
						<div class="row align-items-center gutter-vr-50px">
							<div class="col-md-6 order-md-last">
								<div class="image-block-s2 image-block-wd round-full">
									<img src="images/contact-block-a.jpg" class="round-full" alt="">
									<div class="gshape gshape-xl gshape-block"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="banner-content text-center text-md-left pdl-0 mgl-0">
									<h1 class="banner-inner-title-s2">We're available for new work.</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="nk-ovm mask-a"></div>
			</div>
			<!-- .banner -->
{% endblock %}
	<!-- end header -->

{% block body %}
	<!-- section/blog -->
	<div class="section blog section-xx tc-bunker pt-0">
		<div class="container">
			<div class="row gutter-vr-40px">
				<div class="col-md-8">
					<div class="post post-full post-full-s2 post-details">
						<div class="post-thumb">
							<img src="images/post-thumb-md-a-filter.jpg" alt="">
						</div>
						<div class="post-entry d-sm-flex d-block align-items-start">
							<div class="content-left d-flex d-sm-block">
								<div class="post-date">
									<p>Mar <strong>19</strong></p>
								</div>
							</div>
							<div class="post-content post-content-wd">
								<div class="post-meta d-block d-lg-flex align-items-center">
									<div class="post-author d-flex align-items-center flex-shrink-0 align-self-start">
										<div class="author-thumb">
											<img src="images/author-image-a-filter.jpg" alt="">
										</div>
										<div class="author-name">
											<p>Mark Anthony</p>
										</div>
									</div>
									<div class="post-tag d-flex">
										<ul class="post-cat">
											<li><a href="#"><em class="icon ti-bookmark"></em><span> Design , UI / UX</span></a></li>
										</ul>
										<ul class="post-cat flex-shrink-0">
											<li><a href="#"><em class="icon ti-comment"></em> <span>2 Comments</span></a></li>
										</ul>
									</div>
								</div>
								<h3>One of the Best UX Agencies in the World</h3>
								<div class="content">
									<p>The Demodern team is responsible for the diverse solutions of the individual applications, the overall staging and conception of the 'Discovery Dock. exercitation ullamco laboris nisi ut aliquip ex ea commodo.On the other hand we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment so blinded by desire that they cannot foresee the pain and trouble that are bound.</p>
									<p class="block-text"><em>On the other hand we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment so blinded by desire that they cannot foresee the pain.</em></p>
									<p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo.On the other hand we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment so blinded by desire that they cannot foresee the pain and trouble that are bound.</p>
								</div>
							</div>
						</div>
					</div><!-- .post -->
					<div class="wgs">
						<div class="section-head">
							<h3 class="wgs-heading mb-10">Releted Posts</h3>
						</div>
						<div class="row gutter-vr-30px">
							<div class="col-12 col-lg-6">
								<div class="post post-full post-full-s2 post-v2">
									<div class="post-thumb">
										<a href="">
											<img src="images/post-thumb-e-filter.jpg" alt="">
										</a>
									</div>
									<div class="post-entry bg-ocean-light d-sm-flex d-block align-items-start">
										<div class="post-date">
											<p>Mar <strong>19</strong></p>
										</div>
										<div class="post-content">
											<div class="post-meta d-flex align-items-center">
												<div class="post-author d-flex align-items-center">
													<div class="author-thumb">
														<img src="images/author-image-a-filter.jpg" alt="">
													</div>
													<div class="author-name">
														<p>Mark Anthony</p>
													</div>
												</div><!-- author -->
												<div class="post-tag">
													<ul class="post-cat">
														<li><a href="#"><em class="icon ti-bookmark"></em> Market</a></li>
													</ul>
												</div><!-- .post-tag -->
											</div>
											<h4><a href="#">The All-New Mazda3: Demodern develops 3D Car Configurator</a></h4>
										</div>
									</div>
								</div><!-- .post -->
							</div><!-- .col -->
							<div class="col-12 col-lg-6">
								<div class="post post-full post-full-s2 post-v2">
									<div class="post-thumb">
										<a href="">
											<img src="images/post-thumb-m-filter.jpg" alt="">
										</a>
									</div>
									<div class="post-entry bg-ocean-light d-sm-flex d-block align-items-start">
										<div class="post-date">
											<p>Mar <strong>11</strong></p>
										</div>
										<div class="post-content">
											<div class="post-meta d-flex align-items-center">
												<div class="post-author d-flex align-items-center">
													<div class="author-thumb">
														<img src="images/author-image-c-filter.jpg" alt="">
													</div>
													<div class="author-name">
														<p>Mark Anthony</p>
													</div>
												</div><!-- author -->
												<div class="post-tag">
													<ul class="post-cat">
														<li><a href="#"><em class="icon ti-bookmark"></em> <span>Design</span></a></li>
													</ul>
												</div><!-- .post-tag -->
											</div>
											<h4><a href="#">In spring DuMont opens a mixed reality for the Port of Hamburg</a></h4>
										</div>
									</div>
								</div><!-- .post -->
							</div><!-- .col -->
						</div><!-- .row -->
					</div><!-- .wgs -->
					<div class="wgs comments mb-md-0">
						<h3 class="wgs-heading mb-0">Comments</h3>
						<div class="row">
							<div class="col-12">
								<ul class="comments-list comments-list-s2">
									<li class="comments-row">
										<div class="media">
											<img src="images/user-thumb-a-filter.jpg" alt="">
											<div class="media-body">
												<div class="comment-content">
														<p class="media-name"><strong> Mark Anthony</strong>  <span class="post-date">- 21 March </span> </p>
													<p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo.On the other hand we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment so blinded.d.</p>
													<a href="">Reply</a>
												</div>
												<!-- .comment -->
											</div>
										</div>
										<ul class="comments-list">
											<li class="comments-row">
												<div class="media">
													<img src="images/user-thumb-b-filter.jpg" alt="">
													<div class="media-body">
														<div class="comment-content">
															<p class="media-name"><strong>Roger Helder</strong>   <span class="post-date">- 21 March </span> </p>
															<p>We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment so blinded</p>
															<a href="">Reply</a>
														</div>
													</div>
												</div>
											</li>
										</ul>
									</li>
									<li class="comments-row">
										<div class="media">
											<img src="images/user-thumb-a-filter.jpg" alt="">
											<div class="comment-content media-body">
												<p class="media-name"><strong> Mark Anthony</strong>  <span class="post-date">- 21 March </span> </p>
												<p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo.On the other hand we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment so blinded.d.</p>
												<a href="">Reply</a>
											</div>
										</div>
									</li>
								</ul>
								<div class="comments-form">
									<div class="text-block form-text">
										<h3 class="wgs-heading mb-10">Leave a Reply</h3>
										<p><em>Your email address will not be published. Required fields are marked <span class="tc-primary">*</span></em></p>
									</div>
									<form action="#" method="POST">
										<div class="row">
											<div class="form-field col-md-6">
												<input type="text" placeholder="Your Name" class="input input-bordered" aria-required="true">
											</div>
											<div class="form-field col-md-6">
												<input type="email" placeholder="Your Email" class="input input-bordered">
											</div>
										</div>
										<div class="row">
											<div class="form-field col-md-12">
												<input type="text" placeholder="Your Website" class="input input-bordered" aria-required="true">
											</div>
										</div>
										<div class="row">
											<div class="form-field col-md-12">
												<textarea placeholder="Add Comment" class="input input-bordered input-msg" aria-required="true"></textarea>
												<button type="submit" class="btn">Post Comment</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div><!-- .col -->
				<div class="col-md-4 pl-lg-4">
					<div class="sidebar">
						<div class="wgs wgs-sidebar wgs-search bg-ocean-light">
							<div class="wgs-content">
								<div class="form-group">
									<input type="text" class="form-input form-input-fill bg-ocean-light"  placeholder="Search...">
									<button class="search-btn"><i class="ti ti-search" aria-hidden="true"></i></button>
								</div>
							</div>
						</div><!-- .wgs -->
						<div class="wgs wgs-sidebar bg-ocean-light wgs-recents wgs-recents-s2">
							<h3 class="wgs-heading">Recent News</h3>
							<div class="wgs-content">
								<ul class="post-recent">
									<li>
										<h5><a href="#">Bringing Great Design Ideas To Completion </a></h5>
										<p class="post-tag">DECEMBER 12, 2018</p>
									</li>
									<li>
										<h5><a href="#">Highlights z UX Cambridge 2018 </a></h5>
										<p class="post-tag">DECEMBER 10, 2018</p>
									</li>
									<li>
										<h5><a href="#">Ladies, Wine & Design Hamburg #10: "New Tech" panel in our Werkhalle</a></h5>
										<p class="post-tag">DECEMBER 12, 2018</p>
									</li>
								</ul>
							</div>
						</div><!-- .wgs -->
						<div class="wgs wgs-sidebar bg-ocean-light wgs-category">
							<h3 class="wgs-heading">Categories</h3>
							<div class="wgs-content">
								<ul class="wgs-menu">
									<li><a href="#">Business  <span>(10)</span></a></li>
									<li><a href="#">Technology  <span>(01)</span></a></li>
									<li><a href="#">Development  <span>(17)</span></a></li>
									<li><a href="#">Marketing   <span>(40)</span></a></li>
								</ul>
							</div>
						</div><!-- .wgs -->
						<div class="wgs wgs-sidebar bg-ocean-light wgs-archive">
							<h3 class="wgs-heading">Archives</h3>
							<div class="wgs-content">
								<ul class="wgs-menu">
									<li><a href="#">December 2017 <span>(10)</span></a></li>
									<li><a href="#">November 2017 <span>(01)</span></a></li>
									<li><a href="#">Octobor 2017 <span>(17)</span></a></li>
									<li><a href="#">September <span>(05)</span></a></li>
									<li><a href="#">August <span>(40)</span></a></li>
								</ul>
							</div>
						</div><!-- .wgs -->
						<div class="wgs wgs-sidebar bg-ocean-light wgs-tags">
							<h3 class="wgs-heading">Tags</h3>
							<div class="wgs-content">
								<ul class="tag-list tag-list-s2">
									<li><a href="">Shipping</a></li>
									<li><a href="">Cargo</a></li>
									<li><a href="">Delivery</a></li>
									<li><a href="">Safe</a></li>
									<li><a href="">Fast</a></li>
									<li><a href="">sea</a></li>
								</ul>
							</div>
						</div><!-- .wgs -->
					</div><!-- .sidebar -->
				</div><!-- .col -->
			</div><!-- .row -->
		</div><!-- .container -->
	</div>
	<!-- end section/blog -->

{% endblock %}